<form id="SearchForm" runat="server">
    <div class="row eleven columns field">
        <h4 class="view-title">Search</h4>
    </div>
    <div class="valign row">
        <ul class="six columns">
            <li class="append field">
                <input id="search" class="text input smalltext va-m" type="text" />
                <div class="small primary btn va-m">
                    <a href="#">Search</a></div>
            </li>
        </ul>
    </div>
</form>
<script>
    function initializeView() { };

</script>